.container {
  display: flex;
  border: 2px solid #bbb;
  padding: 15px;
  border-radius: 5px;
  margin: 30px 10px 30px 0;
  position: relative;
  align-items: center;
}

.info{
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 30px;
}

.desc {
  flex: 1;
}

.optionsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: 10px;
}

.options {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: fit-content;
  margin-top: -10px;
}

.complete {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  color: white;
  width: 50%;
}

.date {
  margin-left: auto;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.important {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  color: white;
  width: 50%;
}

.importantLabel {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 20%;
  right: -10px;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  z-index: 100;
  background-color: black;
  border-radius: 5px;
}

.buttons {
  background-color: #53c28b;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}